body {
  margin: 0;
  padding: 0;
  background: url('https://i.postimg.cc/WtwvTmc4/sky-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
